[submodule "assets/vendor/blocks"]
	path = assets/vendor/blocks
	url = https://github.com/KintaroAI/blocks.git
[submodule "assets/vendor/sudoku"]
	path = assets/vendor/sudoku
	url = https://github.com/KintaroAI/sudoku.git
